.header {
    margin: 5vh 20vw;
    display: flex;
    align-items: center;
}

.headerTitle {
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    color: #202124;
    box-flex: 1;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    transition: all .2s ease-in-out;
    transition-property: font-size;
    vertical-align: middle;
}